button, input[type=submit], input[type=button], .btn
	width: 100%
	color: $color-success
	font-weight: bold
	background: transparent
	+padding(.5)
	+margin-bottom(.5)
	+border-radius
	border: 2px solid $color-success
	cursor: pointer
	
	&.dark
		color: darken($color-success, 20%)
		border: 2px solid darken($color-success, 20%)
		
	