hr.logo
	display: none
header
	display: flex
	flex-flow: row
	justify-content: space-between
	background-color: $color-primary
	align-items: center
	height: 50px
	+padding(0 1)
		
.hamburger
	position: relative
	top: 3px
	
.logo
	position: relative
	top: -2px