extends ../layout/page

block content

	- Render::form('', 'PUT', ['class' => 'row'])
		
		.row
			.col.col--6-of-12.col--centered	
				h1.center Give away new item
				input.dark.icon-title(name="title" placeholder='Title')
				textarea.dark.icon-description(name='description' placeholder='Description')
				br
				select(multiple, name="cats[]"): each $cat in $global->cats_with_ids()
					option(value=$cat['id']) #{$cat['name']}
				button.dark(type='submit', name='create_item') Post item
				
	- Render::formend()