if (isset($page))
	h1 Category: #{$page}
	
if (count($items) == 0)	
	h1 No items	
else 	
	.row
		.col.col--4-of-12
			each $item, $key in $items
				if ($key % 3 == 0)
					include ../layout/item
		.col.col--4-of-12
			each $item, $key in $items
				if ($key % 3 == 1)
					include ../layout/item
		.col.col--4-of-12
			each $item, $key in $items
				if ($key % 3 == 2)
					include ../layout/item