extends layout/page

block content
	h1 login
	
	.login
		p #{$msg}
		
		- Render::form('', 'POST')
		input(type="text", placeholder="username", name="username")
		input(type="password", placeholder="password", name="password")
		input(type="submit", value="login")
			
		- Render::formend()