extends layout/page

block scripts
	script(src=$assets.'/js/register.js')

block content

	- Render::form('', 'PUT')

		.login-container
			table
				h1 Sign Up
				
				tr: td
					label: b Username:
					input(type="text", placeholder="Username", name="username", required)
				tr: td
					label: b Email:
					input(type="text", placeholder="name@email.com", name="email", required)
				tr: td
					label: b Password:
					input(type="password", placeholder="Enter Password", name="psw", required)
				tr: td
					label: b Confirm Password:
					input(type="password", placeholder="Confirm Password", name="pswrepeat", required)
				tr: td
					button(type="submit", class="signupbtn") Sign Up

	- Render::formend()