extends layout/page

block content

	- Render::form('/register', 'PUT')
		
		.row
			.register.col.col--4-of-12.col--centered
				h1.center Sign Up
				input.dark#username(type="text", placeholder="Username", name="username")
				input.dark#email(type="text", placeholder="name@email.com", name="mail")
				input.dark#password(type="password", placeholder="Enter Password", name="password")
				input.dark#password-repeat(type="password", placeholder="Confirm Password", name="password_again")
				button.dark(type="submit", name="register_submit" class="signupbtn") Sign Up

	- Render::formend()