extends layout/page

block content

    - Render::form('', 'POST')

        .login-container
            table
                h1 Sign Up
                
                tr: td
                    label: b Name:
                    input(type="text", placeholder="first and last name", name="name", required)
                tr: td
                    label: b Email:
                    input(type="text", placeholder="name@email.com", name="email", required)
                tr: td
                    label: b Password:
                    input(type="password", placeholder="Enter Password", name="psw", required)
                tr: td
                    label: b Confirm Password:
                    input(type="password", placeholder="Repeat Password", name="psw-repeat", required)
                tr: td
                    button(type="submit", class="signupbtn") Sign Up

    - Render::formend()