*
	box-sizing: border-box

html
	+define-type-sizing
		
body
	color: $color-dark
	fill: $color-dark
	// Sticky footer related 
	display: flex
	min-height: 100vh
	flex-direction: column
		
hr
	background-color: $color-dark
	height: 2px
	border: none
	+margin(1 0)
	
	&.light
		background-color: white !important
		
main
	max-width: 1000px
	margin: 0 auto
	+padding(0 1)
	width: 100vw
	flex: 1
	display: flex
	flex-flow: column
	justify-content: center
	
.logo
	+typeface(sans-serif)
	+typeset(logo)
		
a, a:visited, a:hover, a:active
	color: inherit
	text-decoration: none
	
.center
	text-align: center