li.categories#categories
	.icon: include ../svg/categories
	| Categories
	span.arrow.hide ⌄
	ul#categories-list.hide: each $cat in $global->categories()
		li: a(href=$source.'/category/'.$cat) #{$cat}
if (Account::isLoggedIn())
	li
		.icon: include ../svg/heart
		a(href=$source.'/item/create') Give away
	li
		.icon: include ../svg/list
		a(href=$source.'/profile') Your items
	li
		.icon: include ../svg/inbox
		a(href=$source.'/messages') Inbox
	hr
	li
		.icon: include ../svg/user
		a(href=$source.'/profile/edit') Edit profile
	li
		.icon: include ../svg/logout
		a(href='#')#logout Logout
if (!Account::isLoggedIn())
	hr
	li.login#login
		.icon: include ../svg/user
		| Login
		#login-form.login-form.hide
			- Render::form('/login', 'POST')
				.form-header
					h1 Sign in
					h3.close#close ✕ 
				span#login-error 
				input.icon-username(type='text',placeholder='Username', name='username')
				input.icon-password(type='password', placeholder='Password', name='password')
				button.btn(type='submit', name='login_submit') Sign in
			- Render::formend()
	li
		.icon: include ../svg/register
		a(href='/register') Register
if (Account::isLoggedIn() && $user->isAdmin())
	li
		.icon: include ../svg/wrench
		a(href=$source.'/admin')  Manage site