!!! 5
html(lang="en")
	
	head
		meta(charset="UTF-8")
		meta(name="author", content="")
		meta(name="description", content="")
		meta(name="application-name", content="")
		
		title=$title
		
		link(rel="stylesheet", href=$assets.'/css/main.css')
			
	body
		header
			.hamburger
				include ../svg/hamburger
			.logo dibs
			.flex-right
		nav.overlay
			.drawer: ul
				li.categories#categories
					.icon: include ../svg/categories
					| Categories
					span.arrow.hide ⌄
					ul#categories-list.hide: each $cat in $global->categories()
						li: a(href=$source.'/category/'.$cat) #{$cat}
				li
					.icon: include ../svg/heart
					| Give away
				li
					.icon: include ../svg/list
					| Your items
				hr
				li 
					.icon: include ../svg/user
					| Edit profile
				li 
					.icon: include ../svg/logout
					| Logout
				li.login#login
					.icon: include ../svg/user
					| Login
					#login-form.login-form.hide
						- Render::form('', 'POST')
							.form-header
								h1 Sign in
								h3.close#close ✕
							hr.light
							input(placeholder='username')
							input(placeholder='password')
							button Sign in
						- Render::formend()
				li
					.icon: include ../svg/wrench
					| Manage site
						
			.exit-click
				
		main
			block content
			
		footer
			block footer
		
		script(src=$assets.'/js/jquery.js')
		script(src=$assets.'/js/main.js')
		block scripts
			
			
			