!!! 5
html(lang="en")
	
	head
		meta(charset="UTF-8")
		meta(name="author", content="")
		meta(name="description", content="")
		meta(name="application-name", content="")
		
		title=$title
		
		link(rel="stylesheet", href=$assets.'/css/main.css')
			
	body
		.header-container
			header
				.hamburger
					include ../svg/hamburger
				.logo: a(href='/') dibs
				.flex-right
			nav.overlay
				.drawer: ul
					include menu.pug
							
				.exit-click
				
		main
			block content
			
		footer
			main
				.logo: a(href='/') dibs
				h3 ●
				h3 IMT-3851-Assignment-3
		
		script(src=$assets.'/js/jquery.js')
		script(src=$assets.'/js/select2.js')
		script(src=$assets.'/js/main.js')
		block scripts