!!! 5
html(lang="en")
	
	head
		meta(charset="UTF-8")
		meta(name="author", content="")
		meta(name="description", content="")
		meta(name="application-name", content="")
		
		title=$title
		
		link(rel="stylesheet", href=$assets.'/css/main.css')
			
	body
		nav.drawer
			ul
				li Sup 1
				li Sup 2
				li Sup 3
				li Sup 4
		
		main
			block content
		footer
			block footer
		
		block scripts
			
			
			