extends ../layout/page

block content
	.row
		.col.col--12-of-12
			h1 Write a new Message
			p: a(href="/messages") Back to Inbox

	.row
		.col.col--12-of-12
			- Render::form('', 'PUT')
				.col.col--12-of-12
					label To User
						input.dark.icon-user(type="text", placeholder="Username", name="to_user", list="users")
						datalist(id="users")
							each $u in $users
								option(value=$u->username)
				.col.col--12-of-12
					label
						textarea.dark(name="msg", placeholder="Message")
				
				.col.col--12-of-12
					input(type="submit", name="sendMessage", value="Send")
			- Render::formend()
		