extends ../layout/page

block content
	.row
		.col.col--12-of-12
	
			- Render::form('', 'PUT')
				
				.row
					.col.col--6-of-12.col--centered
						h1.center Write a new message
						h3.center: a.underline(href='/messages') Back to inbox
						input.dark.icon-username(type='text', placeholder='Send to user', name='to_user', list='users')
						datalist(id='users')
							each $u in $users
								option(value=$u->username)
						textarea.dark.icon-description(name='msg', placeholder='Message')
						input.send.dark.btn(type='submit', name='sendMessage', value='Send')
							
			- Render::formend()
		