.item
	width: 100%
	+margin(1 0)
	//+padding(.5 1)
	+border-radius
	+box-shadow
		
	.item-image
		width: 100%
		height: 250px
		background: linear-gradient(rgba(0, 0, 0, 0), rgba(#000, .5)), url('http://placewars.agne.no/') no-repeat center center
		background-size: cover
		display: flex
		flex-flow: column
		justify-content: space-between
		+padding(0 .5)
		
		h1
			color: white
		
		.actions
			width: 100%
			display: flex
			flex-flow: row
			justify-content: flex-end
		
		.edit-icon, .delete-icon
			+margin-top(.5)
			height: 40px
			width: 40px
			border-radius: 50%
			+box-shadow
			display: inline-flex
			justify-content: center
			align-items: center
			fill: white
			transition: transform .3s ease, background-color .3s ease
			&:hover
				transform: scale(1.1)
		
		.edit-icon
			background-color: $color-primary
			+margin-right(.5)
			&:hover
				background-color: lighten($color-primary, 10%)
		.delete-icon
			background-color: $color-alert
			padding: 0
			border: none
			&:hover
				background-color: lighten($color-alert, 10%)
			
	.item-info
		+padding(0 .5)
		
		.owner
			font-weight: bold
			+margin-top(1)
			+typeset(small)
		
		.categories-icon
			background-color: $color-dark
			height: 30px
			+margin-right(.5)
			width: 30px
			border-radius: 50%
			display: inline-flex
			justify-content: center
			align-items: center
			fill: white
			svg
				height: 18px
		ul 
			+margin-top(1)
			padding-left: 0px
			color: white
			
			li
				height: 30px
				position: relative
				top: -4px
				left: 7px
				line-height: 30px
				+margin(0 .7 .5 0)
				+padding(0 .5)
				+typeset(tag)
				display: inline-block
				background-color: $color-dark
				&:after
					content: ''
					position: absolute
					right: 100%
					width: 0
					height: 0
					border-style: solid
					border-width: 15px 7px 15px 0
					border-color: transparent $color-dark transparent transparent
				a
					position: relative
					top: -1px
					
	&.gone
		opacity: .7
	&.gone .item-image
		position: relative
	&.gone .item-image:after
		content: 'taken'
		top: 50%
		left: calc(50% - 20px)
		position: absolute
		font-variant: small-caps
		font-weight: bold
		transform: rotateZ(45deg) translateX(-50%) translateY(-50%) scale(3)
		color: $color-alert
		
		
					
.toast
	background-color: $color-success
	position: absolute
	bottom: 0
	right: 0
	color: white
	+padding(1)
	+margin(1)
	+border-radius
	+box-shadow
	animation: alert 3s ease-out forwards

@keyframes alert
	0%
		transform: translateY(10px)
		opacity: 0
	10%
		transform: translateY(0)
		opacity: 1
	90%
		transform: translateY(0)
		opacity: 1
	100%
		transform: translateY(10px)
		opacity: 0
		
h1.recent
	position: relative
	top: 0px